/*Basic CSS reset*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*General styles*/

html {
  overflow-x: hidden;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #0a0a23;
  color: #ffffff;
}

a {
  color: #f1be32;
}

a:hover {
  color: #acd157;
}

.fcc-logo {
  max-width: 300px;
  padding-bottom: 50px;
  margin: auto;
  display: block;
}

/* Common shared styles */
.select-quiz-styles,
.quiz-div,
.results-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Quiz styles*/
.quiz-heading,
.results-heading {
  font-family: "Roboto Mono", monospace;
  text-align: center;
}

.select-btn-div {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.select-btns,
.answers-btns {
  font-size: 1.2rem;
  margin: 10px 0;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.quiz-btn,
.results-btn,
.modal-btn {
  background-color: #f1be32;
  border: 3px solid #feac32;
  font-size: 1.2rem;
  padding: 5px;
}

.quiz-answers-div {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.quiz-answers-div legend {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.quiz-answers-div ul {
  padding: 0;
  list-style: none;
}

.quiz-btn {
  position: absolute;
  top: 0;
  left: 0;
}

.quiz-text {
  display: flex;
  justify-content: space-evenly;
  padding: 0 10px;
  font-size: 1.4rem;
}

/*Modal styles*/

.modal-styles .modal-content {
  background-color: #ffffff;
  color: black;
}

.modal-link {
  color: #002ead;
  font-size: 19.8px;
}

.modal-text {
  font-size: 1.6rem;
}

/*Results styles*/
.results-text {
  font-size: 1.3rem;
  margin-top: 20px;
}

.results-rpg-link {
  color: #f1be32;
}

@media screen and (max-width: 460px) {
  .select-btn-div {
    width: auto !important;
  }
}
