.hero-container {
  background-image: url('../images/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 0 1000px rgb(34 27 49 / 57%);
  object-fit: contain;
}

.hero-content {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.hero-text {
  background-color: #0a0a23f2;
  padding: 20px;
  font-family: Lato, sans-serif;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.5em;
  box-shadow: inset -5px -6px #0a0a232e;
} 

.hero-text h1 {
  font-weight: bold;
  font-size: 50px;
}

.hero-text h2 {
  font-size: 30px;
}

@media screen and (max-width: 768px) {
  .hero-text h1 {
    font-size: 34px;
  }

  .hero-text h2 {
    font-size: 25px;
  }
}

@media screen and (min-width: 1000px) {
  .hero-text h1 {
    font-size: 60px !important;
  }
}